{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link href="{% static 'login.css' %}" rel="stylesheet">
    <script src="{% static 'login.js' %}" defer></script>
</head>
<body>
    {% csrf_token %}
    <div id="login-form">
        <h2>Login</h2>
        <div id="login-first-step">
            <p>Введите ваш телефон в формате 7XXXXXXXXXX</p>
            <label for="phone_number">Телефон</label>
            <input type="text" name="phone_number">
            <button id="login-code-button">Отправить</button>
        </div>
        <div id="login-second-step" class="invisible">
            <p>Введите полученный код</p>
            <label for="code">Код</label>
            <input type="text" name="code">
            <button id="login-button">Отправить</button>
        </div>
    </div>
</body>