{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link href="{% static 'profile.css' %}" rel="stylesheet">
    <script src="{% static 'profile.js' %}" defer></script>
</head>
<body>
    {% csrf_token %}
    <div id="profile-wrapper">
        <a href="{% url 'logout' %}">Выйти</a>
        <h2>Profile</h2>
        <span>Ваш инвайт код: <span id="invite-code"></span></span>
        <div id="get-invited" class="invisible">
            <p>Введите код приглашения</p>
            <label for="code-invited">Код</label>
            <input type="text" name="code-invited">
            <button id="button-get-invited">Отправить</button>
        </div>
    </div>
</body>